nav {
    background-color: #040;
    color: #fff;
    margin: 0px;
    padding: 10px;
}
nav a {
    color: #8bf;
}
body{
    background-image: url(img/redwood.jpg);
    height: 100%;
}
.content {
    color: #040;
    background-color: rgba(200,255,200,0.9);
    padding: 10px;
    float: left;
}
label {
    float: right;
}
#results{
    float: right;
}
.destination {
    background-color: #FFF;
    padding: 10px;
    width: 600px;
}
.search {
    float: right;
}